@import 'bootstrap';

// fix issue with bootstrap rows
.row {
  margin-left: 0;
  margin-right: 0;
}

#content {
  padding-bottom: 30px;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: decimal;
}

ol li {
  padding-bottom: 10px;
}

.bootstrap-select {
  width: 170px !important;
}
