
// colors
//-------

// flat UI colors
$turquoise: #1abc9c;
$emerald: #2ecc71;
$peterriver: #3498db;
$amethyst: #9b59b6;
$wetasphalt: #34495e;
$greensea: #16a085;
$nephritis: #27ae60;
$belizehole: #2980b9;
$wisteria: #8e44ad;
$midnightblue: #2c3e50;
$sunflower: #f1c40f;
$carrot: #e67e22;
$alizarin: #e74c3c;
$clouds: #ecf0f1;
$concrete: #95a5a6;
$orange: #f39c12;
$pumpkin: #d35400;
$pomegranate: #c0392b;
$silver: #bdc3c7;
$asbestos: #7f8c8d;
$burgundy: #370707;
$burgundy-light: #370707;
$burgundy-dark: #370707;
$redwine: #571414;
$redwine-light: #E2A3A3;
$redwine-medium: #974949;
$redwine-dark: #380505;
$cognate-blue: #2C3E50;
$milk: #FFFDF7;

$bs-blue: #337ab7;

// backgrounds
//------------

$mahogany: url("/resources/images/backgrounds/bg_mahogany.png");
$wood: url("/resources/images/backgrounds/wood.jpg");
$skyline: url("/resources/images/backgrounds/bg_skyline.png");
$future: url("/resources/images/backgrounds/bg_future_cityscape_dark.png");
$boston: url("/resources/images/backgrounds/bg_boston_dark.png");
$icons: url("/resources/images/backgrounds/icon_bg_ww.png");
$old: url("/resources/images/backgrounds/bg_skyline.png");
$times-square-1: url("/resources/images/backgrounds/times_square_2.png");
$times-square-2: url("/resources/images/backgrounds/times_square_3.png");
$times-square-3: url("/resources/images/backgrounds/times_square_4.png");

// images
//-------
$ipad: url("/assets/ipad_flipped.png");
$sortable: url("/assets/sort_both.png");
$sort_asc: url("/assets/sort_asc.png");
$sort_desc: url("/assets/sort_desc.png");

// component colors
//-----------------
$brand: #2c3e50;
$brand-accent: white;

$header-height: 79px;
$footer-height: 130px;
$footer-height-mobile: 180px;

$breakpoint-xs: 767px;
$breakpoint-sm: 991px;
$breakpoint-md: 1199px;
