@import 'mixins';
@import 'globals';
@import 'custom';
@import 'bootstrap';

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

.header {
  text-align: center;
  margin-top: 20px;

  img {
    max-height: 50px;
  }

  h1.title {
    margin-top: 10px;
    text-align: center;
    color: $brand;
  }
}

.instructions {
  padding: 10px 20px 20px 20px;
  margin-bottom: 0px !important;
  font-size: 14px;
}

.sha-tool-container {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 32px;
  text-align: center;
  margin-bottom: 20px;

  .sha-tool {
    display: inline-block;
    width: 60%;

    h2 {
      color: $brand;
      margin-bottom: 10px;
    }

    #sha-result {
      padding: 10px;
      border: 1px solid #ccc;
    }

    .dropzone {
      min-height: 80px;
      background: #f6f6f6;
      border: solid 1px #eeeeee;
      margin-bottom: 20px;

      .dz-message {
        font-weight: 600;
        line-height: 80px;
        text-align: center;
      }

      .dz-progress {
        display: none;
      }

      .dz-preview {
        vertical-align: top;
      }
    }
  }
}

.typeahead-thumbnail {
  max-height: 50px;
  max-width: 100px;
}

.listing-show {
  background-color: #fff;
  color: $brand;
  text-align: center;
  padding: 10px 20px 20px 20px;

  .tm-title {
    margin-bottom: 20px;
    text-align: left;
  }

  .select-mark {
    margin-bottom: 30px;
  }

  .panel-title {
    background-color: $brand;
    color: #fff;
    text-align: left;
    padding: 12px 40px;
    font-size: 16px;
  }

  .panel-content {
    padding: 20px 0px;

    &.timeline-panel {
      padding-top: 0px;
    }
  }

  .top {
    overflow: auto;

    .timeline,
    .info {
      width: 50%;
      float: left;
    }

    .info {
      border-right: solid 1px #dddddd;
    }
  }

  .title {
    h1 {
      font-size: 30px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 3px 0px;
    }
  }

  table.listing-info {
    text-align: left;
    margin-top: 15px;
    td.fieldname {
      vertical-align: middle;
    }

    tbody {
      tr {
        td {
          max-width: 450px;
        }

        &.snapshot-frequency {
          td.fieldname {
            text-align: center;
            button.website-capture-form {
              margin-top: 5px;
              padding-top: 2px;
              height: 25px;
            }
          }
          table {
            tr {
              &:not(:last-child) {
                border-bottom: 1px solid #ccc;
              }
              td {
                padding: 5px;
              }
            }
          }
        }
        &.submitted-by,
        &.report-frequency {
          td {
            vertical-align: middle;

            button {
              margin-left: 15px;

              @include respond-to(phones) {
                margin-left: 0px;
                margin-top: 5px;
              }
            }
          }
        }

        &.classifications {
          div.identification {
            &:not(:first-child) {
              border-top: 1px solid #ddd;
            }

            .identification-fill-in {
              position: relative;
              display: inline-block;
              //margin: 0px 5px;
              color: $bs-blue;
            }
          }
        }

        &.proof {
          td {
            text-align: center;

            div {
              padding: 4px 0px 4px 0px;

              &.images {
                overflow-x: auto;
              }
            }
          }
        }
      }
    }
  }

  .timeline {
    // border-left: solid 1px #ddd;
    // margin-left: -1px;

    .actions {
      border-bottom: solid 1px #ddd;
      margin-bottom: 20px;

      .action {
        position: relative;
        padding: 20px;
        text-align: center;

        .snapshot-frequency {
          button {
            span {
              @media (min-width: 961px) {
                &::after {
                  // bit of a hack to make the button larger
                  content: ' from My Website';
                }
              }
            }
          }
          span {
            &.frequency,
            &.next-run {
              color: $bs-blue;
            }
          }
          .edit-btn {
            margin-top: 10px;
          }
        }
      }
    }

    #timeline-content {
      border-left: solid 1px #dddddd;
      padding-left: 20px;

      .tmark {
        padding: 20px;
        margin: 10px 0px;
        color: $brand;
        background-color: $clouds;

        h2.mark-title {
          margin-bottom: 0px !important;
        }

        img.mark-img {
          padding: 8px;
          max-width: 200px;
        }

        .design-hash {
          font-size: 12px;
        }
      }

      .entry {
        $dot-size: 15px;

        position: relative;
        border: solid 1px #dddddd;
        padding: 12px;
        margin-bottom: 24px;
        text-align: left;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 25px;
          left: -29px;
          margin-top: -($dot-size / 2);
          width: $dot-size;
          height: $dot-size;
          border-radius: $dot-size;
          border: solid 1px #cccccc;
          background: white;
        }

        &#new_use {
          border: dashed 1px #cccccc;
          padding: 24px 12px;

          .types {
            @media (min-width: 961px) {
              display: flex;
            }
            justify-content: center;

            .add-history {
              border-left: solid 1px #cccccc;
              cursor: pointer;

              // default is 4x1
              // we convert to 2x2 at large (960px)
              // we convert to 1x4 at medium (720px)
              &:first-child {
                border-left: none;
              }

              div {
                @media (min-width: 721px) {
                  width: 100%;
                }
                margin: 0px;
                padding: 0px;
              }

              @media (min-width: 721px) {
                text-align: center;
              }

              @media (max-width: 960px) {
                &:nth-child(odd) {
                  border-left: none;
                }
                &:nth-child(n + 3) {
                  border-top: solid 1px #cccccc;
                  margin-top: 1px;
                  padding-top: 2px;
                }
              }

              @media (max-width: 720px) {
                border-left: none;
                border-top: solid 1px #cccccc;
                margin-top: 1px;
                padding-top: 2px;

                &:first-child {
                  border-top: none;
                  margin-top: 0px;
                  padding-top: 0px;
                }

                div:nth-child(even) {
                  padding-left: 5px;
                }
              }

              &.selected {
                font-weight: 600;
              }
            }
          }

          &:before {
            top: 50%;
          }
        }

        .date:not(.form-group):not(.control-label) {
          font-weight: 600;
          font-size: 18px;
          margin-bottom: 18px;
        }

        .type {
          font-weight: 600;
          border-bottom: solid 1px #dddddd;
          padding-bottom: 12px;

          span.content-type {
            font-size: 16px;
          }

          a.etherscan-link {
            margin-left: 10px;
            font-size: 12px;
          }
        }

        .proof-hash {
          padding: 10px;
        }

        ul.proofs {
          list-style-type: none;
          margin: 0;
          padding: 0 30px;

          .slick-prev {
            left: 0;
          }

          .slick-next {
            right: 0;
          }

          .slick-prev:before,
          .slick-next:before {
            color: $brand;
          }

          li {
            a {
              display: block;
              padding: 0 5px;

              div.img {
                display: table-cell;
                width: 100%;
                vertical-align: middle;
              }
            }
          }
        }

        span.fill-in {
          position: relative;
          display: inline-block;
          //margin: 0px 5px;
          color: $bs-blue;
        }

        img.proof {
          margin-top: 12px;
          max-width: 250px;
          cursor: pointer;
        }

        .table tr:first-child td {
          border-top: none;
        }
      }
    }
  }

  .edit-btn-container {
    padding: 0px 0px 20px 0px;
  }
}

@include respond-to(phones) {
  .listing-show {
    .top {
      .timeline,
      .info {
        float: none;
        width: 100%;
      }
    }
  }
}

.loading-screen {
  margin-left: -20px;

  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
  }
  .loader {
    color: $bs-blue;
    font-size: 8px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before,
  .loader:after {
    position: absolute;
    content: '';
  }
  .loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #ffffff;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
  }
  .loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #ffffff;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
  }
  @-webkit-keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
